<div class="row marketing">
    <div class="col-lg-6">
        <h3>{{ 'TRAININGS' | translate }}</h3>
        <p>
            <span ng-bind-html="'TRAININGS_DESC' | translate | multiline"></span>
            <a href="http://www.bottega.com.pl/">Bottega IT Solutions</a>
        </p>

        <h3>{{ 'PROGRAMMING' | translate }}</h3>
        <p>
            JavaScript, Java, Python
            <br />
            Frontend & Backend
        </p>

        <h3>{{ 'OPEN_SOURCE' | translate }}</h3>
        <p>
            {{ 'CO_CREATOR' | translate }}
            <a href="http://json-schema-faker.js.org/">JSON Schema Faker</a>
        </p>
    </div>

    <div class="col-lg-6">
        <h3>{{ 'COMMUNITIES' | translate }}</h3>
        <p>
            {{ 'COMMUNITIES_DESC' | translate }}
        </p>

        <h3>{{ 'WORK' | translate }}</h3>
        <p>
            Independent Software Consultant,
            <br />
            Interface Architect
        </p>
    </div>
</div>
