@font-face {
  font-family: "Virgil";
  src: url("../fonts/Virgil.woff2");
}

/* @font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/fonts/Virgil.woff2");
} */

.blogposts li {
  list-style-type: none;
}

.blogposts .blogpost-headline {
  font-style: italic;
}

.blogposts .blogpost-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  text-decoration: underline;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: inherit;
  text-transform: none;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  font-family: "Virgil", sans-serif;
}

.blog-footer {
  font-size: 80%;
}

ul.toc ul {
  list-style: disc;
  margin: 0 0 0 0;
  padding-left: 1em;
}

.twitter-color {
  color: #0084b4;
}

.image-caption {
  font-size: 80%;
  text-align: center;
}

.wrapper.blogpost {
  padding-top: 10px !important;
}
