<footer class="footer">
    <div class="col-lg-6">
        <p>&copy; Tomasz Ducin IT Services 2017</p>
    </div>

    <div class="col-lg-6">
        <ul class="social pull-right">
            <li><a target="_blank" href="http://twitter.com/tomasz_ducin"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/pub/tomasz-ducin/4b/34a/822"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="https://github.com/ducin"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="http://slides.com/ducin"><img src="img/slides.png" alt="slides"></a></li>
            <li><a target="_blank" href="http://sys-exit.blogspot.com/"><i class="fa fa-rss"></i></a></li>
            <li><a target="_blank" href="https://stackoverflow.com/users/769384/ducin"><i class="fa fa-stack-overflow"></i></a></li>
            <li><a target="_blank" href="http://crossweb.pl/profile/tomasz-ducin"><i class="fa fa-bullhorn"></i></a></li>
            <li><a href="{{'mailto:'}}{{'tomasz'}}{{'@'}}ducin.it"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
    </div>
</footer>
